# Dependencies
node_modules/
.pnpm-debug.log

# Turbo & Build Outputs
.turbo/
dist/
.next/
out/
build/

# Environment Files
.env
.env.local

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*